<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>BoolZapp</title>
</head>
<body>
    <div id="root">
        <div class="container">
            <div class="left">
                <!-- sezione profilo principale -->
                <div class="main-profile">
                    <div class="main-data">
                        <div class="main-image">
                            <img v-bind:src="'img/avatar' + myProfile.avatar + '.jpg'" alt="Immagine profilo">
                        </div>
                        <div class="main-name">
                            <p>{{ myProfile.name }}</p>
                        </div>
                    </div>
                    <div class="main-icon">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- fine sezione profilo principale -->
                <!-- sezione notifiche -->
                <div class="notifications">
                    <div class="notifications-icon">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="active-notifications">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <span class="active">Attiva notifiche desktop</span>
                    </div>
                </div>
                <!-- fine sezione notifiche -->
                <!-- sezione cerca -->
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
                <!-- fine sezione cerca -->
                <!-- sezione contatti -->
                <div class="contacts">
                    <ul v-for="(contact, i) in contacts">
                        <li @click="selectContact(contact, i)">
                            <div class="contact-image">
                                <img v-bind:src="'img/avatar' + contact.avatar + '.jpg'" alt="Immagine profilo">
                            </div>
                            <div class="contact-name">
                                <div class="name-preview">
                                    <p>{{ contact.name }}</p>
                                    <p class="message-preview">{{ contacts[i].messages[contacts[i].messages.length-1].message }}</p>
                                </div>
                                <p class="message-time">{{ contacts[i].messages[contacts[i].messages.length-1].date }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- sezione contatti -->
            </div>
            <div class="right">
                <!-- sezione profilo chat aperta -->
                <div class="chat-profile">
                    <div class="chat-data">
                        <div class="chat-image">
                            <img v-bind:src="'img/avatar' + contacts[index].avatar + '.jpg'" alt="Immagine profilo">
                        </div>
                        <div class="chat-data-text">
                            <div class="chat-name">
                                <p>{{ contacts[index].name }}</p>
                            </div>
                            <div class="chat-access">
                                <p>Ultimo accesso oggi alle {{ contacts[index].messages[contacts[index].messages.length-1].date }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="chat-icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- fine sezione profilo chat aperta -->
                <!-- sezione chat -->
                <div class="chat">
                    <div class="chat-container">
                        <div  v-for="(element, i) in contacts[index].messages" class="clearfix">
                            <div :class="(element.status=='sent')? 'sent':'received'">
                                <i class="fas fa-chevron-down arrow-down"></i>
                                <p class="text-message">{{ element.message }}</p>
                                <p class="date-message">{{ element.date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fine sezione chat -->
                <!-- sezione messaggio -->
                <div class="message">
                    <i class="far fa-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyUp.enter="sentMessage">
                    <i class="fas fa-microphone"></i>
                </div>
                <!-- fine sezione messaggio -->
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>